beautifulsoup4
bs4
certifi
cffi
charset-normalizer
contourpy
cryptography
cycler
python-dotenv
earthengine-api
fonttools
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
httplib2
idna
kiwisolver
matplotlib
numpy
packaging
pillow
proto-plus
pyasn1
pyasn1_modules
pycparser
pyparsing
python-dateutil
requests
six
soupsieve
typing_extensions
uritemplate
urllib3
streamlit
pandas
rasterio
geopandas
opencv-python-headless
shapely
pydeck
torch
torchvision
albumentations
segmentation-models-pytorch
groq
google-generativeai